body{
margin: 0;
padding: 0;
direction: rtl;
font-family: 'Tajawal', sans-serif;
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
   

   

/* start css nav bar   */

.nav{
color: #6B6565;
font-weight: 400;
font-size: 22px;
text-align: center;
cursor: pointer;
}
ol li {
    display: inline-block;
    padding: 10px;
}

.nav ol li a {
border-bottom: #27DEBF solid 2px;
color: #6B6565;
padding: 10px;
text-decoration: none;
}


/* responsive design */

@media only screen and (max-width: 600px) {
    .nav {
      font-size: 18px;
      text-align: right;
      display: inline-block;
    }
  }



/* s01 */

.s01{
margin-top: 40px;
margin-bottom: 40px;
 font-size: 18px;
 color: #6B6565;
}

.data-text{
    text-align: right;
    margin-bottom: 10px;
}
.s01 button{
background-color: #27DEBF;
width: 180px;
padding: 5px;
border-radius: 2px;
font-size: 18px;
color: white;
border: #fff;
}
.s01 img {
    width: 50%;
}

/* responsive design */

@media only screen and (max-width: 600px) {
    .s10  {
      font-family: 'Tajawal', sans-serif;
      font-weight: 200;
      font-size: 18px;
      text-align: right;
      display: inline-block;
    }

    .s001{
        direction: rtl;
        margin-top: 200px;
        text-align: right;
    }       
  }


.s001{
    direction: ltr;
}

.element {
    width: 20px;
    margin: 0 auto;
    background-image: url('image/vector01.jpg');
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-image: url('image/vector01.jpg');
      width: 20%;
    }
    50% {
        background-image: url('image/vector01.jpg');
        width: 40%;
    }
    100% {
      transform: scale(1.5);
      background-image: url('image/vector01.jpg');
      width: 70%;
    }
  }
  

/* section three */

.sec03{
margin-bottom: 40px;
margin-top: 40px;
text-align: center;
padding: 10px;
background-color: #F3F9F9;
font-size: 18px;
color: #757473;
}
/* start section services */
.card-data{
    margin-bottom: 40px;
    margin-top: 40px;
}
.card-data .anato-data-card {
background-color: #F3F9F9;
padding: 10px;
margin-bottom: 10px;
border-bottom:  #6DECAF solid 3px;
cursor: pointer;
}
.card-data .anato-data-card:hover {
background-color: #27DEBF;
padding: 10px;
margin-bottom: 10px;
color: #F3F9F9;
border-bottom:  #F3F9F9 solid 3px;
transition: all ease-in .5s;
}
.card-data .anato-data-card img{
margin-bottom: 10px;
width: 20%;
}
.card-data .anato-data-card h3{
margin-bottom: 10px;
font-size: 16px;
color: #000;
}
.card-data .anato-data-card p{
font-size: 14px;
}
.sec04{
margin-top: 40px;
text-align: center;
padding: 10px;
font-size: 24px;
color: #757473;
}
/* end section services */

/* style section 06  */
.s06{
margin-bottom: 40px;
margin-top: 40px;
background-color: #FDFDFD;
padding: 10px;
font-size: 22px;
color: #6B6565;
text-align: center;
}
.data-sec-6{text-align: right;}
.data-sec-6 button{
background-color: #27DEBF;
width: 180px;
padding: 5px;
border-radius: 2px;
font-size: 18px;
color: white;
border: #fff;
}
/* end style section 06  */

/* start footer */
footer{
text-align: center;
padding-top: 20px; 
padding-bottom: 20px; 
background-color:#F3F9F9; 
font-family: 'Cairo', sans-serif;
}
/* end footer */
/* framework */
h3{
font-family: 'Cairo', sans-serif;
}